name: Tests
on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #v5.1.0
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup and execute Gradle 'test' task
        uses: gradle/actions/setup-gradle@342bf5a6b8680a437c5d946c41fa90a74ae0ed45 #v5.0.0
        
      - name: Run Tests
        run: ./gradlew build -PignoreCheckFailures=true -PgithubUsername=${{ github.actor }} -PgithubPassword=${{ secrets.GITHUB_TOKEN }}

      - name: Archive build output
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        if: always()
        with:
          name: test-results
          path: build/reports/tests/
          retention-days: 3